*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FEF9E1;
    width: 100%;
    align-items: center;
}

.header {
    width: 99%;
    height: 120px;
    background-color: #A31D1D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.header-top {
    width: 99%;
    height: 120px;
    background-color: #A31D1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

#logotipo {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    align-items: center ;
    justify-content: center;
    height: 50px;
    width: 90px;
    background-color: #FEF9E1;
    font-size: 30px;
    text-align: center;
    color: #f1f1f1;
    overflow: hidden;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration-color: #111;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#dash-logo {
    height: 1px;
    width: 5px;
    background-color: FEF9E1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.side-panel{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-panel a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}
  
.openbtn:hover {
    background-color: #444;
}

.location-img {
    width: 50px;
    height: 50px;
}
.location-img:hover {
    background-color: #E5D0AC;
}

.search-container {
    display: flex;
}

.search-button {
    height: 50px;
    height: 50px;
}
.search-img {
    width: 50px;
    height: 50px;
    background-color: #E5D0AC;
    cursor: pointer;
}


#search-bar {
    border: 1px solid grey;
    width: 34rem;
    padding: 2px 0 2px 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.search-bar:hover, .search-bar:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.cart-img {
    width: 50px;
    height: 50px;
}
.cart-img:hover {
    background-color: #E5D0AC;
}

.avatar-logo {
    width: 50px;
    height: 50px;
}
.avatar-logo:hover {
    background-color: #E5D0AC;
}
.enlaces {
    width: 100%;
    height: 80px;
    background-color: #6D2323;
}
.enlaces ul li {
    display: inline;
    
}
.enlaces a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    
}
.enlaces a:hover {
    color: darkgray;
    
}

.enlaces ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}


.brands-container {
    width: 80%;
    height: 130px;
    background-color: #6D2323;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    animation: scroll-left 25s linear infinite;
}


.brand {
    width: 260px;
    height: 100%;
    background-color: #E5D0AC;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.brand img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.products-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 12rem;
    height: 20rem;
    background-color: lightgray;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.product-img {
    width: 100%;
    height: 200px;
    background-color: #6D2323;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}
.product-price {
    
    font-size: 18px;
    font-weight: bold;
    color: #6D2323;
}
.product-button {
    width: 100%;
    padding: 10px;
    background-color: #6D2323;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-evenly;
}

footer div {
    height: 150px;
    color: #f1f1f1;
}

footer h3 {
    font-size: larger;
    color: #000;
}
footer a {
    color: gray;
}
footer a:hover {
    color: black;
}
footer li {
    color: gray;
}
footer li:hover {
    color: black;
    cursor: pointer;
}
